<a href="https://colab.research.google.com/github/Krishna101211/PANDAS/blob/main/Penguins_Data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Penguins Data set questions                               """
        Data Inspection
------------------------------------------------------
1.Load the dataset and show first few rows.

In [2]:
x=pd.read_csv('/content/penguins.csv')



2.Check the number of rows and columns.

In [3]:
x.shape

(344, 7)

3.Display all column names.

In [4]:
x.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

4.Check data types of each column.

In [62]:
x.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
bill_depth__mm       float64
dtype: object



5.Get dataset information summary.

In [9]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [6]:
x.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

6.Check the count of non-null values in each column.

In [14]:
x.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

   Missing Data Handling
----------------------------------------------------------
1.Find which columns contain missing values.

2.Calculate the percentage of missing data.

In [43]:
print((x.isna().sum())/len(x)*100)

species              0.000000
island               0.000000
bill_length_mm       0.000000
bill_depth_mm        0.000000
flipper_length_mm    0.000000
body_mass_g          0.000000
sex                  3.197674
bill_depth__mm       0.000000
dtype: float64

3.Drop rows with any missing values.

In [15]:
x.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

4.Fill missing numerical values with mean or median.'

In [31]:
x['bill_length_mm'].mean()
x['bill_depth_mm'].mean()
x['flipper_length_mm'].mean()
x['body_mass_g'].mean()

np.float64(4201.754385964912)

In [34]:
x['bill_length_mm']=x['bill_length_mm'].fillna(value=43.9219298245614)
x['bill_depth_mm']=x['bill_depth_mm'].fillna(value=17.151169590643278)
x['flipper_length_mm']=x['flipper_length_mm'].fillna(value=200.91520467836258)
x['body_mass_g']=x['body_mass_g'].fillna(value=4201.754385964912)

In [24]:
x.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [35]:
x.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
bill_depth__mm        0
dtype: int64

5.Forward-fill or backward-fill missing values.

In [37]:
x.ffill()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE,18.70000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE,17.40000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE,18.00000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,FEMALE,17.15117
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE,19.30000
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,FEMALE,17.15117
340,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,FEMALE,14.30000
341,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,MALE,15.70000
342,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,FEMALE,14.80000
343,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,MALE,16.10000

In [38]:
x.bfill()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE,18.70000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE,17.40000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE,18.00000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,FEMALE,17.15117
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE,19.30000
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,FEMALE,17.15117
340,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,FEMALE,14.30000
341,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,MALE,15.70000
342,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,FEMALE,14.80000
343,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,MALE,16.10000

6.Check for duplicate rows.

In [41]:
x.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Length: 344, dtype: bool

7.Remove duplicate rows.

In [42]:
x.drop_duplicates()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,MALE,18.70000
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,FEMALE,17.40000
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,FEMALE,18.00000
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,17.15117
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,FEMALE,19.30000
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN,17.15117
340,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,FEMALE,14.30000
341,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,MALE,15.70000
342,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,FEMALE,14.80000
343,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,MALE,16.10000


8.How to handle wrong data types (e.g., numbers stored as strings)?

In [46]:
x.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
bill_depth__mm       float64
dtype: object

9.Verify no missing or duplicate values left.

In [48]:
x.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
bill_depth__mm        0
dtype: int64

In [49]:
x.duplicated().sum()

np.int64(0)


10.Verify shape and summary.

In [51]:
x.shape

(344, 8)

In [53]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                333 non-null    object
 7   bill_depth__mm     344 non-null    float64
dtypes: float64(5), object(3)
memory usage: 21.6+ KB

11.View unique values of categorical columns.

In [57]:
x['sex'].unique()

array(['MALE', 'FEMALE', nan], dtype=object)


12.Count penguins per island

In [58]:
penguinsisland=x.groupby('island').count()
penguinsisland

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
island,,,,,,,
Biscoe,168,168,168,168,168,163,168
Dream,124,124,124,124,124,123,124
Torgersen,52,52,52,52,52,47,52

13.Find average bill length and bill depth for each species

In [60]:
penguinsisland=x.groupby('species').mean('bill_length_mm','bill_depth_mm')
penguinsisland

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,bill_depth__mm
species,,,,,
Adelie,38.825144,18.338495,190.025758,3703.958910,18.338495
Chinstrap,48.833824,18.420588,195.823529,3733.088235,18.420588
Gentoo,47.475983,14.999606,217.055768,5068.965761,14.999606

14.Filter penguins having body_mass_g > 4000 and sex == "Male"

In [68]:
a=x.where(x['sex']=='MALE',inplace=True)
b=x.where(x['body_mass_g']>4000,inplace=True)
x.dropna()
#a=x.where(x['sex']=='MALE',inplace=True).where(x['body_mass_g']>4000,inplace=True).dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE,19.6
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE,21.1
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,MALE,20.7
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE,21.5
35,Adelie,Dream,39.2,21.1,196.0,4150.0,MALE,21.1
...,...,...,...,...,...,...,...,...
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,MALE,16.3
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE,16.0
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE,16.2
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,15.7
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,16.1


15.Sort dataset by flipper_length_mm in descending order

In [70]:
x.sort_values(by='flipper_length_mm',ascending=False).dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_depth__mm
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,MALE,15.7
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE,17.0
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE,16.0
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,MALE,16.3
295,Gentoo,Biscoe,48.6,16.0,230.0,5800.0,MALE,16.0
...,...,...,...,...,...,...,...,...
45,Adelie,Dream,39.6,18.8,190.0,4600.0,MALE,18.8
51,Adelie,Biscoe,40.1,18.9,188.0,4300.0,MALE,18.9
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,MALE,19.1
93,Adelie,Dream,39.6,18.1,186.0,4450.0,MALE,18.1
39,Adelie,Dream,39.8,19.1,184.0,4650.0,MALE,19.1